{% extends 'base.html' %}
{% load static %}
{% block link %}
<style>
@import "//fonts.fontstorage.com/import/beermoney.css";
header {
	width: 100%;
	background: url({% static 'img/header_profile_logo.jpg' %}) no-repeat;
    background-size: cover;
    background-position: center;
	height: 180px;
}

header > p {
	color: rgba(136,139,141,1);
	font-family: 'Beer money';
	font-size: 27px;
	font-weight: 400;
	line-height: 1em;
	text-shadow: -2px 2px 1px rgba(0,0,0,1);
	margin: 0px 0px 20px 0px;
    padding: 145px 0px 0px 115px;
	width: 700px;
}

.my_icons {
    width: 17%;
    float: left;
}

.required {
    color: red;
}

small {
    float: left;
    margin-bottom: 2px;
}

</style>

{% endblock link %}

{% block title %} Личный кабинет {% endblock title %}

{% block header %}

    <p>Личный кабинет </p>

{% endblock header %}

{% block content %}
<div class="row py-2">
    <div class="col">
        <div class="card text-center border-warning mb-3" >
            <h5 class="card-header bg-secondary text-white", style="margin-bottom: 3px; font-size: 20px; font-weight: 400; font-family: 'Beer money';" onclick="openDiv('personalityForm')"> Персональные данные</h5>
            <div class="card mb-4 mt-2 box-shadow collapse" id="personalityForm">
                <form id="personForm">
                    {% csrf_token %}
                    <div class="card-body">
                        <small class="text-muted">Telegram:</small>
                        <div class="input-group input-group-sm mb-3">
                            <input type="number" name="telegram_id" id="telegram_id" class="form-control mb-0" value="{{ telegram_id }}" hidden>
                            <span class="input-group-text">@</span>
                            <input type="text" class="form-control" placeholder="Username" id="telegram_username" disabled>
                        </div>

                        <small class="text-muted">ФИО<span class="required">*</span>:</small>
                        <div class="input-group input-group-sm mb-3">
                            <input type="text" class="form-control" placeholder="ФИО" id="fio">
                        </div>

                        <small class="text-muted">Телефон<span class="required">*</span>:</small>
                        <div class="input-group input-group-sm mb-3">
                            <input type="text" class="form-control" placeholder="Телефонный номер" id="phone_number">
                        </div>

                        <small class="text-muted">Дата рождения<span class="required">*</span>:</small>
                        <div class="input-group input-group-sm mb-3">
                            <input type="text" class="form-control" placeholder="00.00.0000" id="date_of_birth">
                        </div>

                        <small class="text-muted">Электронная почта<span class="required">*</span>:</small>
                        <div class="input-group input-group-sm mb-3">
                          <input type="text" class="form-control" placeholder="Username" aria-label="Username" id="email_username">
                          <span class="input-group-text">@</span>
                          <input type="text" class="form-control" placeholder="Server" aria-label="Server" id="email_server">
                        </div>
                        <a href="#" class="btn btn-primary" id="save_info">Сохранить</a>
                    </div>
                </form>
            </div>
            <h5 class="card-header bg-secondary text-white", style="margin-bottom: 3px; font-size: 20px; font-weight: 400; font-family: 'Beer money';" onclick="openDiv('agentAnalitics')"> Аналитические данные</h5>
            <div class="card mb-4 mt-2 box-shadow collapse" id="agentAnalitics">
                <div class="card-body">
                    <small class="text-muted">Большая аналитиика:</small>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="">@</span>
                        <input type="text" class="form-control" placeholder="Вбей аналИтику">
                </div>
            </div>
    </div>
            <h5 class="card-header bg-secondary text-white", style="margin-bottom: 3px; font-size: 20px; font-weight: 400; font-family: 'Beer money';" onclick="openDiv('agentProducts')"> Заказы</h5>
            <div class="card mb-4 mt-2 box-shadow collapse" id="agentProducts">
                <div class="card-body">
                    <small class="text-muted">Большие заказы:</small>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="">@</span>
                        <input type="text" class="form-control" placeholder="Таблица Заказов">
                </div>
            </div>
    </div>
</div>


    <!-- content -->
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/profile.js' %}"></script>
<script>

function openDiv(elem_id_to_open) {
    formOpened = $(`#${ elem_id_to_open }`)
    if (formOpened.hasClass('show')) {
        formOpened.removeClass('show', 2000);
    }
    else {
        formOpened.addClass('show', 2000);
    }

}


</script>

{% endblock scripts %}
