{% extends 'base.html' %}
{% load static %}
{% block link %}
<style>
@import "//fonts.fontstorage.com/import/beermoney.css";

header {
	width: 100%;
	background: url({% static 'img/header_showcase_repairflat_logo.jpg' %}) no-repeat;
    background-size: cover;
    background-position: center;
	height: 180px;
}

header > p {
	color: rgba(136,139,141,1);
	font-family: 'Beer money';
	font-size: max(0.6em, min(4em, calc(100vw * 4 / 75)));
	font-weight: 400;
	line-height: max(0.3em, min(1em, calc(100vw * 1 / 75)));;
	text-shadow: -2px 2px 1px rgba(0,0,0,1);
	margin: 0px 0px 20px 0px;
    padding: 139px 0px 0px 102px;
	width: 700px;
}

.my_icons {
    width: 100%;
    float: left;
    border-radius: 10px;
    border: 3px #ccc solid;
    box-shadow: 0 0 5px #444;
}

.my_icons_sm {
    width: 18%;
    float: left;
}

</style>
{% endblock link %}

{% block title %} {{ showcase_message }} {% endblock title %}

{% block header %}

    <p>Наши специалисты </p>

{% endblock header %}

{% block content %}
    <div class="container-fluid" id="agents_container" style="max-width: 97%;">
        <input type="number" name="telegram_id" id="telegram_id" class="form-control mb-0" value="{{ telegram_id }}" hidden />
        <div class="row py-2" id="agents_card">

        </div>
    </div>

    <div class="container" id="orderForm" style="display: none">
        <div class="row py-2" id="agents_card">
            <div class="card border-warning mb-3">
                <div class="card-body" style="padding-bottom: 5px; padding-left: 0px; padding-right: 0px;">
                    <form action="#" class="form-container" id="order_form">
                        <small class="text-muted">ФИО<span class="required">*</span>:</small>
                        <div class="input-group input-group-sm mb-3">
                            <input type="text" class="form-control" placeholder="ФИО" id="fio" />
                        </div>
                        <small class="text-muted">Телефон<span class="required">*</span>:</small>
                        <div class="input-group input-group-sm mb-3">
                            <input type="text" class="form-control" placeholder="Телефонный номер" id="phone_number" />
                        </div>
                        <small class="text-muted">Электронная почта<span class="required">*</span>:</small>
                        <div class="input-group input-group-sm mb-3">
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" id="email_username" />
                            <span class="input-group-text">@</span>
                            <input type="text" class="form-control" placeholder="Server" aria-label="Server" id="email_server" />
                        </div>
                        <small class="text-muted">Адрес проживания<span class="required">*</span>:</small>
                        <div class="input-group input-group-sm mb-3">
                            <input type="text" class="form-control" placeholder="Ваш адрес" id="client_address" />
                        </div>

                        <div class="sticker-left sticker-success text-center" data-sticker="Информация о Вашей заявке">
                            <select class="form-select form-select-sm" aria-label="Выбор услуги" id="agent_products_drop">
                                <option selected>Выберите услугу</option>
                            </select>
                            <small class="text-muted">Название заказа<span class="required">*</span>:</small>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" class="form-control" placeholder="Название заказ" id="order_name" />
                            </div>
                            <small class="text-muted">Желаемая цена заказа<span class="required">*</span>:</small>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" class="form-control" placeholder="Цена заказа" id="order_price" />
                            </div>
                            <small class="text-muted">Желаемая дата начала<span class="required">*</span>:</small>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" class="form-control" placeholder="00.00.0000" id="order_start" />
                            </div>
                            <small class="text-muted">Желаемая дата окончания<span class="required">*</span>:</small>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" class="form-control" placeholder="00.00.0000" id="order_end" />
                            </div>
                            <small class="text-muted">Дополнительная информация<span class="required">*</span>:</small>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" class="form-control" placeholder="Дополнительная информация" id="order_description" />
                            </div>
                            <button type="button" class="btn btn-outline-success" id="create_order">Отправить заявку</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <!-- content -->
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/showcase.js' %}"></script>
{% endblock scripts %}
